* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection{
    background: #00623D;
    color: #fff;
}

img{
    width: 25px;
}

.header{
    background: #00623D;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 5px 17px 0px rgba(0,0,0,0.75);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header__logo{
    width: 30px;
}

.header__nav, .header__login-user{
    display: none;
}

.header__container-user-mobile i{
    color:#fff;
    font-size: 25px;
}

.header__login{
    display: none;
}

.main__container-logo{
    display: none;
}

.main__container-logo{
    display: none;
}

.main{
    margin-top: 70px;
    padding: 15px 15px 60px;
}

.main__title{
    font-size: 50px;
    line-height: 1,2;
}

.main__title span{
    color: #00623D;
}

.main__description{
    font-weight: bolder;
    margin-top: 20px;
}

.main__container-text{
    display: flex;
    flex-direction: column;
}

.galeria{
    background: #00623D;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galeria__img{
    width: 85%;
    margin-top: 15px;
}

.contact{
    background: #0c0f0f;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__title{
    color: #00623D;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.contact__form{
    background: #00623D;
    padding: 15px;
    color: #fff;
    width: 280px;

}

.contact__input label{
    font-size: 14px;
}

.contact__input{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.contact__input input::placeholder,
.contact__input textarea::placeholder{
    font-size: 12px;
    color: #00623D;
    font-weight: bolder;
}

.contact__input input,
.contact__input textarea{
    padding: 5px;
    border-radius: 6px;
    border: 0;
}

.contact__input input:focus,
.contact__input textarea:focus{
    background: black;
}

.contact__btn{
    background: inherit;
    border: 1px solid #fff;
    color: #fff;
    width: 45%;
    margin-top: 15px;
    border-radius: 7px;
    padding: 4px;
    transition: all 1s;
}

.contact__btn:hover{
    background: yellow;
    border: 1px solid yellow;
}